@model CartViewModel
@{
    ViewData["Title"] = "ShowCart";
}

<table class="table table-striped">
    <thead class="thead-dark">
      <tr>

            <th>Goods</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>

 <tbody>

        @foreach (var item in Model.cartItems)
        {
            <tr>
                <td>@item.Item.Product.Name</td>
                     <td>@item.Quantity</td>
                          <td>@item.getTotalPrice()</td>
                          <td>
                         <a asp-action="RemoveCart" asp-route-id="@item.Item.Id">Delete </a>
                          </td>
            </tr>
        }
 </tbody>
</table>
<h5>Total Sum : @Model.OrderTotal</h5>